/*noinspection CssRedundantUnit*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, select
{margin:0;  padding:0; border:0; outline:0; font-size:100%; list-style-type: none;  font-family: Tahoma, verdana, sans-serif; color: #a8a8a8; }

a img { border: 0 none; }

input, textarea {margin:0; padding:0 0 0 3px}
h1{font-size:16px; text-shadow: 1px 1px rgb(0, 0, 0); color: rgb(201, 201, 201);}
h2{font-size:15px; text-shadow: 1px 1px rgb(0, 0, 0);}
h2 a {  text-decoration:none}
h3{font-size:14px;  text-shadow: 1px 1px rgb(0, 0, 0);}
p {padding:0 0 12px 0;}
a {color:#e0dfdc; text-decoration:underline;}
a:hover {color:#DD4B39;}

input, textarea, select {background-color: rgb(162, 162, 162);color: #000;}

.wrapper { margin: 0 auto; width: 976px; position: relative; padding-top: 440px;padding-bottom: 7px; font-size: 13px;}

section  {width:100%;  margin:0;  padding:0; }
iframe {width:100%;  margin:0;  padding:0; }

.zagolovki {font-size:15px; text-shadow: 1px 1px rgb(0, 0, 0);}

.header_black {
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    left: 0;
    height: 35px;
    border-bottom: 1px solid #000;
    background: rgb(0, 0, 0);}



.header44 {
    width: 100%;
    overflow: auto;
    margin-top: -40px;
}

.header44 .main_menu {
    padding-top:14px;
    float: left;}

.header44 .social a {
    opacity: 0.8;}

.header44 .social a:hover{
    opacity:1;}



.header44 .main_menu a {
    margin-right: 20px;}



.header44 .user_panel {
    float: right;
    padding-top: 10px;
    font-size: 13px;
    text-align: right;
    height: 22px;
}


.header44 .search_panel {
    float: right;
    width: 210px;
    margin-top: 14px;
    padding-left: 10px;
    height: 22px;
}


.header44 .search_panel input {
    width: 170px;
    height: 22px;
    border: 1px solid #6B6B6B;
    -webkit-box-shadow: 0 2px 4px #666 inset;
    box-shadow: 0 2px 4px #414141 inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #B6B6B6;
    background-color: #505050;
}

.header44 .user_panel input {

    height: 22px;
    border: 1px solid rgb(107, 107, 107);
    -webkit-box-shadow: 0 2px 4px rgb(102, 102, 102) inset;
    box-shadow: 0 2px 4px rgb(65, 65, 65) inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(182, 182, 182);
    background-color: rgb(80, 80, 80);
}

.errormsg {
    width: 100%;
    text-align: center;
    font-size:20px;
    border: 0 solid #cf2a0e;
    color: #cf2a0e;
}



/*ñòðóêòóðà*/

.contener {background-color:#585858; border-radius: 10px; overflow: auto;border: 1px solid rgb(14, 14, 14);}
.contener2 {overflow: hidden; border: 1px solid #848480;border-radius: 10px;

    background: #585858 url(../img/bg.png) repeat-y;
}
.content {position: relative; width: 640px; float: right;border-left: 1px solid #000;  background: #2b2b2b;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.rek_top {border-bottom: 1px solid rgb(17, 17, 17);background: #2b2b2b;position: relative;border-left: 1px solid #404040; padding: 7px 8px 6px 8px; text-align: center;}
.rek_top iframe {width:600px; padding-top:10px;}
.leftblok1 {position: relative; width: 156px; float: left;  padding-top: 15px;}
.leftblok2 {position: relative; width: 156px; float: left;  padding-top: 15px;}


.pomoshnik {
    background: #2b2b2b;
    border-left: 1px solid #404040;
    border-top: 1px solid #404040;
    clear:both;}


table.menu tr td a, table.menu tr td  input {
    display: block;
    padding: 6px 20px 0;
    height: 22px;
    background: rgb(63, 63, 63);

    color: #666666;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-decoration: none;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px rgb(0, 0, 0);}



table.menu tr td a:hover {

    background: rgb(29, 29, 29);}

/*íîâîñòè*/
.shortstorytitle{padding: 10px 0 12px 0; color:#fff;position: relative;}
.shortstory {
    border-top: 1px solid #404040;
    padding: 5px 20px 10px 20px;
    float: left;
    background: #2b2b2b;
    clear: both;
    color: #fff;
    position: relative;
    border-left: 1px solid #404040;}

.fullstory {
    width: 600px;
    float: left;
    padding: 5px 20px 10px 20px;
    background: #2b2b2b;
    clear: both;
    color:#fff;
    position: relative;
    border-left: 1px solid #404040;
    border-bottom: 1px solid rgb(17, 17, 17);
}
.miniblock { }


.leftblok_contener i {font-size:15px; font-weight:bold; font-style: normal; color: rgb(243, 243, 243); text-shadow: 1px 1px rgb(0, 0, 0);}
.mini {padding-left:20px;}
.poloska {background: #3f413f;border-bottom: 1px solid #848480;height: 1px;width: 100%;margin-bottom: 18px;margin-top: 18px;float: left;clear: both;}

.fullimg img {padding-right:20px; padding-top:3px; padding-bottom:2px; position: relative;}
.fullimg a img:hover {opacity: 0.75;}

.screens img {padding-right:4px; padding-top:20px; padding-bottom:0; width:195px;opacity: 0.75;}
.screens a img:hover {opacity: 1;}
.shortimg img {padding-right:20px; padding-top:3px; position: relative;}
.shortimg a img:hover {opacity: 0.75;}

.podrobnee {float: left;padding-right: 3px;}
.podrobnee a {text-decoration:none;}
.icons {border-bottom: 1px solid rgb(17, 17, 17);background: #2b2b2b;overflow: hidden;position: relative; border-left: 1px solid #404040;}

.leftblok_contener {overflow: hidden;
    display: block;}

.leftblok_contener2 {overflow: auto;
    width: 331px;
    display: block;
    border-top: 1px solid #848480;
    padding-bottom: 5px;}

/*øàïêà*/
.header {position: absolute; left: 0; top: 0; height: 145px;}

.leftblok1_header_deeper input {width: 260px; border: 1px solid #000;}

.logo_header a:hover img  {opacity: 0.9;}





.loginin {float: left; padding-left:10px;color: #DFDFDF;  font-size: 13px;
    padding-top: 5px;
}

.loginin a {}
.loginin a:hover {}

/*êíîïî÷êè*/
.fbutton,  span.fbutton  {text-decoration: none;color: rgb(192, 192, 192);padding: 2px 7px 3px 7px;background: rgb(36, 36, 36);border: 1px solid #404040;cursor: pointer;outline: solid 1px #111; }
.fbutton:hover, .fbutton:focus {background-color: rgb(56, 56, 56); }
.fbutton:active {-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);box-shadow:inset 0 2px 4px rgba(0,0,0,.24)}
.fbutton-img,  span.fbutton-img  {text-decoration: none;color: rgb(192, 192, 192);padding: 4px 7px 0 7px;background: rgb(36, 36, 36);border: 1px solid #404040;cursor: pointer;outline: solid 1px #111; }
.fbutton-img:hover, .fbutton:focus {background-color: rgb(56, 56, 56); }
.fbutton-img:active {-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);box-shadow:inset 0 2px 4px rgba(0,0,0,.24)}
.f_input {border: solid 1px #cfcfcf; height: 18px;}

select {border: solid 1px #cfcfcf; height: 20px;}

.fbutton a {text-decoration: none;}


.fbutton2{text-decoration: none;
    color: silver;
    height:22px;
    padding: 0 7px 0 7px;
    background: #242424;
    border: 1px solid #404040;
    cursor: pointer;}
.fbutton2:hover, .fbutton2:focus {background-color: rgb(56, 56, 56)}

/*ïì*/

.pmpmpm a{color: #000000; text-decoration:underline}



/* öèòàòà, îáðàìëåíèå ïðèìåðîâ */

.oformlenie h1 {color: rgb(218, 218, 218);}

.primer a{color: #000000; text-decoration:underline}

.quote li {list-style-type: square;
    margin-left: 14px;}

.hide { background-color: #e8f3fa; padding: 5px; color: #3a78a5; margin: 0 0 1em; }
.hide a { text-decoration: underline; }
.hide a:hover { text-decoration: none }

/*èêîíêè*/
.categoryicon a  {color: #A0A5A8;}
.categoryicon a:hover {color: #DD4B39;}
.avtoricon a  {color: #A0A5A8;}
.avtoricon a:hover {color: #DD4B39;}
.favoriticon img {margin-bottom: 2px; padding: 0 0 0 0; vertical-align: top;}
.alerticon img {margin-bottom: 0; padding:  0 0 0 11px;}
.editicon {font-size: 13px;}
.editicon img {margin-bottom: 0; padding: 0 0 0 12px;}



/* íàâèãàöèÿ ïî ñòðàíèöàì */
.bot-navigation {clear:both; font-size: 12px; padding: 15px 20px ;border-top: 1px solid #404040;color:#fff;position: relative;  height: 15px;}
.bot-left {border-left: 1px solid #404040;}
.bot-navigation a:link, .bot-navigation a:visited  {text-decoration: none;
    border: 1px solid rgb(77, 76, 76);
    padding: 3px 6px;
    background: rgb(36, 36, 36);
    color: rgb(126, 125, 125);
}
.bot-navigation a:hover  {background-color: rgb(80, 80, 80);
    color: rgb(163, 163, 163);
    border: 1px solid rgb(155, 155, 155);}
.bot-navigation a:active {-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.24);box-shadow:inset 0 2px 4px rgba(0,0,0,.24)}
.bot-navigation span {font-size: 12px;
    background: #2b2b2b;
    padding: 3px 6px;
    color: rgb(70, 70, 70);
    border: 1px solid rgb(61, 61, 61);
}



/* îïðîñ */

.horizontal2 {border: 0 solid rgb(14, 14, 14);border-radius: 10px 0 10px 10px; width: 974px;}




.inner {opacity: 0.8}
.inner:hover {opacity: 1}
.inner img {  width: 118px; min-height: 171px; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; height:174px;}


.footer {padding: 15px 0 5px 0; width:100%; margin: 0 auto;}

.footer a { color: rgb(153, 153, 153);}
.footer a:hover {color:#DD4B39;}

.footer-text {padding-bottom:5px; text-align: justify;}

.footer-text p {color: rgb(104, 104, 104);}

.footer-text img {
    opacity: 0.7;
    float:left;
    margin: 8px 20px 8px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;}

.partners img {
    opacity: 0.7;
    float:left;
    margin: 8px 20px 8px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;}

.padding_border {
    padding: 20px;
    border-left: 1px solid #404040;
    border-top: 1px solid #404040;
    border-bottom: 1px solid rgb(17, 17, 17);
    overflow:auto}

.ul_related li {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align:top;
    text-align: center;
    width: 116px;

}

.ul_related li:hover {opacity: 0.75;}


.relatednews_title i {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.section {background-color: #2b2b2b; border-left: 1px solid #404040;border-top: 1px solid #404040;}
ul.tabs { line-height: 26px; list-style: none; padding: 0; }
.tabs li {float: left; display: inline;  list-style: none; cursor: pointer;  padding:0 20px;  position: relative;  text-align: center; font-weight: bold;
    text-shadow: #000 1px 1px 1px; color: rgb(201, 201, 201); height: 28px; }
.tabs li:hover {padding:0 20px; background:#a8a8a8;color: rgb(1, 1, 1);text-shadow: #fff 1px 1px 1px; }
.tabs li.current { background: rgb(26, 26, 26); padding:0 20px; text-align: center; cursor: default;}
.tabs li.current:hover {padding:0 20px; background: rgb(26, 26, 26); text-shadow: #000 1px 1px 1px; color: rgb(201, 201, 201);}

.commennnnty a {color:#939393; text-decoration:none;}
.commentimg img {width: 60px;height: 60px;float: left;white-space: pre-wrap;  padding-top: 2px;}
.stronk {text-align:center;padding-top:4px;}

.lastkomment b a {text-shadow: 1px 1px #292929; text-decoration:none}

.li_serial img {border: 1px solid #464646; width:133px}
.li_serial img:hover {border: 1px solid #8B8B8B;}
.li_serial a:hover {color:#fff;}

.li_block img {margin-right: 10px; border: 1px solid #464646; width:83px; }
.li_block img:hover {border: 1px solid #8B8B8B;}

.li_block_title a {font-weight:bold; text-shadow: 1px 1px #292929; text-decoration:none;}

